<h1>Les reviews de ce restaurant</h1>

<% @reviews.each do |review| %>
<ul><li>Note : <%= review.rating %></li>
<li>Commentaire : <%= review.content %></li>
</ul>
<% end %>

<%= link_to 'Home', root_path %>